$fonts: arial, Helvetica;
$primary: #e4c;
$secondary: rgb(135, 0, 100);
$grey: #222;
$white: #fff;
$offWhite: #eee;
$black: rgb(0,0,0);


html{
	font-family: $fonts;
	height:100%
}

body{
	margin:0;
	#header{
		margin: 0 0 .1em 0;
		padding:.4em 0 0 0;
		background-color: $primary;
		width:100%;
		.mainHeader{
			text-align: center;
			color:$white;
			font-size: 4em;
			margin:0;
			a{
				color:$white;
			}
		}
	}
	
	color:$primary;
	a{
		text-decoration: none;
	}
	a:link{
		color:$primary;
	}
	a:active{
		color:$grey;
	}
	a:visited{
		color:$primary;
	}
	a:hover{
		color:$grey;
	}
	height: 100%;
}

.menu{
	text-align:center;
	ul{
		display:inline;
		li{
			list-style-type: none;
			display:inline-block;
			padding:0 1em 0 1em;
		}
		.menuLink{
			color:$white;
			background-color: $primary;
			font-size: 1.2em;
			border:none;
			cursor:pointer;
			
		}
		.menuLink:hover{
			color:$black;
		}
	}
}

#main{
	margin-bottom: -4em;
	width:75%;
	background-color: $offWhite;
	margin-right: auto;
	margin-left:auto;
	padding:.4em;
}

.center{
	text-align: center;
}

#nothing{
	float:left;
}
.center.repo{
	color:$grey;
	a:link{
		color:$grey;
	}
	a:active{
		color:$grey;
	}
	a:visited{
		color:$grey;
	}
	a:hover{
		color:$offWhite;
	}
	padding-bottom: 1em;
	float: right;
	font-size: .8em
}

.plain{
	list-style-type: none;
}

//form login
.login {
	color:$white;
	background-color: $secondary;
	padding: 1em;
	form{
		display:inline;
		padding:0 1em 0 1em;
	}	
}
.divider{
	font-size: 2em;
}
form.std{
	width:100%;
	input{
		display:block;
	}
}
//buttons
button.std, input.std{
	background-color: $primary;
	color:$white;
	padding:.6em;
	margin-top:.2em;
	font-size: 1.2em;
	border-radius:.2em;
}
button.std:hover{
	background-color: $secondary;
}
button.values{
		margin-top:1em;
}
button.right{
	margin-right:0;
	margin-left:auto;
}
button.giant{
	font-size: 3em;
	padding: .4em 2em .4em 2em;
}
#roller{
	#resultsBox{
		padding:2em;
		background-color: $white;
		margin:1em;
		width:auto;
		.resultsTag{
			display:block;
			margin-top:1em;
			font-size: 2em;
		}
		.results{
			display:inline-block;
			font-size: 3em;
			color: $grey;
		}
	}
}

.diceEditor{
	width:100%;
	float:left;
	// display: inline-block;
}

.diceViewer{
	width:50%;
	float:left;
	background-color: $offWhite;
	padding:1em;
	margin:1em;
	.dieViewer{
		background-color: $white;
		padding: .4em;
	}
}
.banner{
	padding:.6em;
	color:$white;
	background-color:$primary;
}


.diceSet{
	width:100%;
}
.diceSetName,.diceSetPlay{
	width:50%;
	padding:1em;
}

//editor
.editor{
	font-size:1.2em;
	.heading{
		background-color: $offWhite;
		padding:1em;
		margin:1em;
	}
	input{
		border-radius: .2em;
		padding:.4em;
		font-size:1em;
	}
	input[type=checkbox]{
		  /* Double-sized Checkboxes */
		  -ms-transform: scale(2); /* IE */
		  -moz-transform: scale(2); /* FF */
		  -webkit-transform: scale(2); /* Safari and Chrome */
		  -o-transform: scale(2); /* Opera */
		  padding: 10px;
	}
}




@media (min-width: 800px){
	#main{
		width:50%;
	}
	form.std{
	input{
		display:inline;
	}
}
}

