<h2>Welcome to Dice-A-Roni</h2>
<h3>With this application, you can create dice sets to do just about anything--choose what's for lunch, predict your fortune, flip a coin, etc. You must register to create dice sets, but anyone can use public dice sets. </h3>