
<label for="email">Email: </label>
<input type="text" name="email" ng-model="user.email">
<button ng-click="sendResetEmail()" class="std">Send Reset Email</button>

<div ng-if="err">
	[[err]]
</div>
