{{define "login"}}
{{$user := .user}}

<div class="login">
	{{if $user.ObjectID }}
		<p>Welcome, {{$user.Email}}. </p>
	{{else}}
		<form method="post" action="/auth" class="std">
			<label for="email">Email: </label>
			<input type="text" name="email">
			<label for="password">Password: </label>
			<input type="password" name="password">
			<input type="submit" value="Submit" class="std login">
		</form>
		<span class="divider">&nbsp;&nbsp;</span>
		<a href="/registration"><button class="std login">Register</button></a>
		<a href="/reset"><button class="std">Forgot Password</button></a>
	{{end}}

</div>




	
	
{{end}}