{{define "index"}}

<p>This is the index.</p>
<ul>
	<li><a href="/main">Home</a></li>
	<li><a href="/diceSets">View Dice Sets</a></li>
</ul>

{{$user := .user}}

{{if gt $user.ID  0}}
	<p>Welcome, {{$user.Email}}. </p>
{{else}}
	<form method="post" action="/auth">
		<label for="email">Email: </label>
		<input type="text" name="email">
		<label for="password">Password: </label>
		<input type="text" name="password">
		<input type="submit" value="Submit">
	</form>
{{end}}


{{end}}