{{define "index"}}
{{$user := .user}}

<p>This is the index.</p>
<ul>
	<li><a href="/main">Home</a></li>
	<li><a href="/diceSets">View Dice Sets</a></li>
	{{if $user.ID}}
	<li><form method="post" action="/logout"><input type="submit" value="Logout"></input></form></li>
	{{end}}
</ul>


	



	{{if $user.ID }}
		<p>Welcome, {{$user.Email}}. </p>
	{{else}}
		<form method="post" action="/auth">
			<label for="email">Email: </label>
			<input type="text" name="email">
			<label for="password">Password: </label>
			<input type="password" name="password">
			<input type="submit" value="Submit">
		</form>
		<a href="/registration">Register</a>
	{{end}}




	
	
{{end}}