{{define "main"}}
{{$user := .user}}
<!DOCTYPE html>
	<head>
		<title>DICE</title>
		<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	</head>
	<body>
		<div id="header">
			<h1 class="mainHeader">
				<a href="/">
					Dice-A-Roni
				</a>
			</h1>
			<div class="menu">
				<ul>
					<li><a href="/main" class="menuLink">Home</a></li>
					<li><a href="/diceSets" class="menuLink">View Dice Sets</a></li>
					{{if $user.ObjectID}}
					<li><a href="/logout" class="menuLink">Log Out</a></li>

					<li><a><form method="post" action="/logout"><input type="submit" value="Logout" class="menuLink"></input></form></a></li>
					{{end}}
				</ul>
				<div class="center repo"><a href="http://www.github.com/stinkyfingers/dice">View this application's repository</a>.</div>

			</div>

			{{template "login" .}}
		</div>
		<div id="main">
			<div ng-view></div>
		</div>
		<div id="nothing">
		</div>
		<script data-main="../public/js/main" src="../public/js/bower_components/requirejs/require.js"></script>
	</body>
</html>
{{end}}